/* Fonts */
/*@import url("font-awesome-4.6.3/css/font-awesome.min.css"); */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=EB+Garamond:300,400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Oranienbaum:300,400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Arimo:300,400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Oswald:200,300,400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=raleway:300,400,600,700,800");
@font-face {font-family: 'icomoon'; src:url('../fonts/icomoon.eot'); src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('../fonts/icomoon.woff') format('woff'), url('../fonts/icomoon.ttf') format('truetype'), url('../fonts/icomoon.svg#icomoon') format('svg');font-weight: normal; font-style: normal; }[data-icon]:before { font-family: 'icomoon'; content: attr(data-icon); speak: none; font-weight: normal; font-variant: normal;text-transform: none; line-height: 1;  -webkit-font-smoothing: antialiased;}
/* Theme Colors
		Light Blue: #7397C6
		Blue: #2199E8 > #1955A5 > #03A9F4
		Header Black: #131516
		Text Grey: #444444
		Light Grey: #999999
		Offwhite: #F7F7F7 or #F6F7F8
		White: #FFFFFF

		Red: #D13351
		Yellow: #FFBB0B
		Green: #39ad48
		Blue: #2199E8
		Violet: #6a3d9a
		Hot-Pink: #ff23a2

		Light White: #F2F3F4
		White:#F7F5E6
		Offwhite: #E8E8E8
		Darkest White: #D6D6D6
		Light Blue: #107896 
		Dark Blue:  #333A56
		Light Purple: #813772
		Dark Purple: #49274A
		Golden: #EFD469

/*Lazy Loading*/
html.loading, body.loading * {
		-moz-transition: none !important;
		-webkit-transition: none !important;
		-o-transition: none !important;
		-ms-transition: none !important;
		transition: none !important;
		-moz-animation: none !important;
		-webkit-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
/* Basic Format*/
html, body {
	margin: 0px
	padding: 0px;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	background: #F6F7F8;
	color: #131516;
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
	font-weight: 300;
	line-height: 1.65em;
}
	a {
		text-decoration: none;
	}
	b {
		font-weight: 700;
	}
	i {
		font-style: italic;
	}
	h1 {
		font-family: 'Oswald', serif;
		font-size: 1.2em;
		color: #131516 ;
		font-weight: 400;
	}
	h2 {
		font-family: 'Oranienbaum', serif;
		text-transform: uppercase;
		font-size: 1.0em;
		color: #444444;
		font-weight: 300;
	}
/* Content Containers */
.container {
	min-width: 840px;
  	width: 80%;
	max-width: 1344px;
}
/* Wrappers */
	.wrapper {
		padding: 0em;
	}
		.wrapper.top-style {
			padding: 0em;
		}
		.wrapper.body-style {
			padding: 0em;
		}
		.wrapper.end-style {
			padding-bottom: 2em;
		}
/* Header */
	#header {
		height: 55px;
		-moz-box-shadow: 0px 1px 6px 1px rgba(70,70,70,0.3);
		-webkit-box-shadow: 0px 1px 6px 1px rgba(70,70,70,0.3);
		background: #333A56;
		color: #F2F3F4;
	}
	#header .container {
		position: relative;
	}
/* Navigation */
.homepage #nav {
	position: static;
	right: none;
	margin: 0 auto;
	text-align: center;
}	
	#nav {
		position: absolute;
		top: 0;
		right: 0;
		width: 95%;
		display: block;
    		text-align: center;
    		padding: 0em;
    		margin: 0 auto;
    		vertical-align: baseline;
	}
		#nav > ul {
			margin: 0;padding: 0;
			list-style-type: none;
			vertical-align: bottom;
		}
			#nav > ul > li {
				position: relative;
				height: 55px;
				margin-left: 0;
				float: right;
				display: block;
				background: inherit;
				text-decoration: none;
				font-family: 'Lato', sans-serif;
				font-size: 1.0em;
				letter-spacing: 2px;
				font-weight: 500;
				padding: 0 1em 0 1em;
			}
				#nav ul li:nth-child(2){
					padding 0 0 0 1em;
				}
				#nav ul li:first-child {
					float: left;
					border: none;
					padding: 0;
					font-family: 'Lato', sans-serif;
					font-size: 1.5em;
					font-weight: 700;
				}
				#nav > ul > li:first-child {
					margin-left: 0;
					position: relative;
					line-height: 2em;
				}
				#nav > ul > li.active,
				#nav ul > li:hover {
					color: #EFD469;
				}
					#nav > ul > li a {
						display: block;
						line-height: 55px;
						height: 55px;
						color: inherit;
						text-decoration: none;
					}
				#nav > ul > li > ul {
					display: none;
				}
/* Dropotron */
	.dropotron {
		position: relative;
		top: 0em;
		margin: 0;
		background: #FFFFFF;
		font-weight: 500;
		font-family: 'Lato', sans-serif;
		font-size: 1.0em;
		letter-spacing: 2px;
	}
		.dropotron > li {
			padding: 0;
			position: relative;
		}
		.dropotron > li > ul > li {
			position: relative;
			display: block;
			overflow: hidden;
			padding: 0;
		}
			.dropotron > li > a {
				text-decoration: none;
				padding: 0 0.5em;
				color: #131516;
			}
			.dropotron > li.active > a,
			.dropotron > li:hover > a {
				background: #F6F7F8;
			}
				.dropotron > li:hover > a > span{
					color: #ff23a2;
					text-shadow: 0 -1px 0 #EFD469;
				}
		.dropotron.level-0 {
			margin-left: 0;
			line-height: 2.0em;
			border: 1px solid #333A56;
			-moz-box-shadow: 0px 0px 4px #444;
			-webkit-box-shadow: 0px 0px 4px #444;
			-moz-border-radius: 0 0 15px 15px;
			border-radius: 0 0 15px 15px;
		}
			.dropotron.level-1 {
				display: block;
				float: right;
				margin-top:  0.95em;
				border: 1px solid #333A56;
				-moz-box-shadow: 0px 0px 4px #444;
				-webkit-box-shadow: 0px 0px 4px #444;
				-moz-border-radius: 0 15px 15px 0;
				border-radius: 0 15px 15px 0;
			}
			.dropotron.level-1 a {
				padding: 0 0.5em;
			}
/* Content */
content > :last-child {
	margin-bottom: 0;
}
#content {
	list-style: none;
	padding: 1em 0 0 0;
	margin: 0 auto;
	text-align:center;
}
	#content li{
		text-align: left;
	}
	#content ul{
		padding: 0em;
	}
/* Profile */
.profile {
	display: inline-block;
	float: left;
	margin: 1.5em auto 1.5em 2.5%;
	overflow: hidden;
}
	.profile div {
		text-align: left;
		height: 175px;
		min-height: 175px;
		padding: 0px;
	}
	.profile h1{
		padding-bottom: 0.25em;
	}
		#profilepic {
			vertical-align: 
				;
			float: left;
			margin-right: 0em;
			width: 155px;
		}
			#profilepic img {
				width: 155px;
				height: 175px;
				border-radius: 50%;
			}
				#profilepic img:hover {
					opacity: 0.75;
					filter:alpha(opacity=75);
				}		
		#profiletext {
			display: inline-block;
			float: left;
			overflow: hidden;
			min-height: 175px;
			padding: 0 0 0 0.5em;
		}
			#profiletext li a {
				line-height: 1.8em;
				font-size: 0.9em;
				color: #444444;
				font-weight: 400;
			}
			#profiletext li a .fa-cube{
				-webkit-transition: -webkit-transform .8s;
          			transition: transform 0.33s; /*ease-in-out*/
			}
				#profiletext li a:hover .fa-cube{
    					-webkit-transform: rotate(360deg);
					-moz-transform: rotate(360deg);
					-o-transform: rotate(360deg);
					-ms-transform: rotate(360deg);
					transform: rotate(360deg);
				}
				#profiletext li:nth-child(2) a:hover .fa-cube{
					color: #D13351;
				}
				#profiletext li:nth-child(3) a:hover .fa-cube{
					color: #FFBB0B;
				}
				#profiletext li:nth-child(4) a:hover .fa-cube{
					color: #39AD48;
				}
				#profiletext li:nth-child(5) a:hover .fa-cube{
					color: #2199E8;
				}
				#profiletext li:nth-child(6) a:hover .fa-cube{
					color: #6A3d9A;
				}

@media (max-height: 1280px) and (max-width: 980px) {.profile{text-align:center;float:none;display:block;margin: 1.5em auto 0 auto;width:auto;}}
@media (max-height: 1280px) and (max-width: 980px) { #profilepic{float:none;display:block;margin: 0em auto; } }
@media (max-height: 1280px) and (max-width: 980px) {#profilepic img{display:block;float:none;margin:0 auto;width:auto;}}
@media (max-height: 1280px) and (max-width: 980px) {#profiletext{float:none;margin:0.5em auto 1em auto;padding:0;}}

/* Projects */
	.projectsbin {
		display: inline-block;
		margin: 0 auto;
		padding: 1em 0;
		border: 1px solid #333A56;
		-moz-box-shadow: 0px 0px 4px #444;
		-webkit-box-shadow: 0px 0px 4px #444;
        	width: 95%;
		overflow: auto;
		background: #FFFFFF
	}
	#projectsection {
		display: inline-block;
		overflow: hidden;
		padding: 0 0 1em 0;
		margin: auto;
		width: 33.3%;
	}
		#projectwrap {
			float: left;
			position: relative;
			left: 50%;
		}
		#projectitem {
			float: left;
			position: relative;
			left: -50%;
		}
		.projectsbin div {
			position: relative;
			float: left;
			text-align: left;
		}
		.projectsbin h1 {
			padding-bottom: 1em;
		}
		.projectsbin h2{
			text-align: center;
			padding-bottom: 1em;
		}
		.projectsbin h2 a {
			color: #444444;
		}
		.projectsbin p {
			max-width: 80%;
			margin: 0 auto;
			padding-top: 1em;
			font-family: 'EB Garamond', serif;
			font-weight: 400;
			color: #444444;
			font-size: 18px;
			line-height: 30.6px;
		}
		.projectsbin a {
			color: #2199E8;
			}
			.projectsbin a:hover {
				color: #ff23a2;
			}
		.projectsbin img{
			display:block; margin: 0 auto;
			max-width:95%;
			cursor: pointer;
			opacity: 1;  filter:alpha(opacity=100);
			border: 1px solid #333A56;
		}
			.projectsbin img:hover{
				opacity: .75;  filter:alpha(opacity=75);
				border-color: #ff23a2;
			}
@media (max-height: 1280px) and (max-width: 980px){.projectsbin{ display:block; width:auto; }}
@media (max-height: 1280px) and (max-width: 980px){ #projectsection{ display:block; width:auto; }}

/* Footer */
footer > :last-child {
	margin-bottom: 0;
}
#footer {
	list-style: none;
	padding: 1em 0 0 0;
	margin: 0 auto;
	text-align:center;
	}
	#footer li{
		text-align: left;
	}
	#footer ul{
		padding: 0em;
	}
	#footer h1{
		text-align: center;
		padding: 0em 0 .5em 0;
	}
/* Contact */
	.contactbin{
		display: inline-block;
		margin: auto;
		border: 1px solid #333A56;
		-moz-box-shadow: 0px 0px 4px #444;
		-webkit-box-shadow: 0px 0px 4px #444;
        	width: 95%;
		overflow: auto;
		background: #FFFFFF;
	}
	.contactbin div {
		position: relative;
		float: left;
		text-align: left;
		vertical-align: top;
	}
	.contactbin li,
	.contactbin p {
		line-height: 1.8em;
		font-size: 0.95em;
		color: #444444;
		font-weight: 300;
	}
		.contactbin div li a {
			line-height: 1.8em;
			font-size: 0.95em;
			color: #444444;
			font-weight: 300;
		}
			.contactbin div li a:hover {
				color:  #2199E8;
			}
	#contactsection {
		display: inline-block;
		overflow: hidden;
		padding: 1em 0;
		margin: auto;
		width: 33.3%;
	}
	#contactwrap {
		float: left;
		position: relative;
		left: 50%;
	}
	#contactitem {
		float: left;
		position: relative;
		left: -50%;
	}

@media (max-height: 1280px) and (max-width: 980px){ #footer .contactbin{ display:block; width:auto;}}
@media (max-height: 1280px) and (max-width: 980px){ #footer .contactbin div{ float:none;}}
@media (max-height: 1280px) and (max-width: 980px){ #contactsection{ margin:0 1em;width:auto; }}

/* Copyright */
#subfooter {
	padding: 0em;
	margin: 0 auto;
	text-align: center;
}
	#subfooter p {
		padding: 0em;
		text-align: center;
		line-height: 1.6em;
		font-size: 0.8em;
		font-weight: 300;
	}
	#subfooter a {
		color: #999999;
	}
	#subfooter a:hover {
		color: #444444;
	}
/* Logo */
	.homepage #logo {
		display: none;
	}
	#logo {
		line-height: 2em;
		letter-spacing: 2px;
		font-size: 2em;
		font-weight: 500;
	}
		#logo h1 {
			display: inline-block;
			margin: 0;
			padding: 0 1em;
		}
