/*  SUBPAGE SPECIFIC */
.subpage #logo{display: none;}.subpage #nav{position: static;right: none;text-align: center;}
/*.subpage #nav ul li:first-child{padding: 0 0 0 2.5%;}*/
.subpage #nav .thispage {color:#EFD469;}
/* CONTACT PAGE */
.wrapper.contactstyle {background: #F2F3F4; margin:10em auto 1em auto;}
@media (max-height: 1280px) and (max-width: 980px) {.wrapper.contactstyle{margin:auto;}}
.wrapper.contactstyle li,.wrapper.contactstyle p{padding: 0em;}
.wrapper.contactstyle a{text-decoration:none;padding: 0em;}
.wrapper.contactstyle .image {position: relative;
width=100%;
max-width:100%;}
.wrapper.contactstyle h2 {position: absolute; display:inline;
top: 2.5%; 
left: 55.5%; 
width: 100%;
font-size:1.8em;}
@media (max-height: 1280px) and (max-width: 980px) {.wrapper.contactstyle h2{font-size:1.2em;}}
#tohelp{width:40%
;margin: 0 auto;}
#tohelp img{
	max-width:100%; 
	border-radius: 10%;}
@media (max-height: 1280px) and (max-width: 980px) {#tohelp{float: none;width:auto;}}
@media (max-height: 1280px) and (max-width: 980px) {.wrapper.contactstyle .image{width:auto;height:auto;}}
@media (max-height: 1280px) and (max-width: 980px) {#tohelp img{width:auto;height:auto;}}

#contact {margin:2em auto 0 auto;
	width: 40%; max-width:90%;
	padding: 1em;
	background: #E8E8E8;
	border: 1px solid #333A56;
	-moz-box-shadow: 0px 0px 4px #444;
	-webkit-box-shadow: 0px 0px 4px #444;}
@media (max-height: 1280px) and (max-width: 980px) {#contact {width:auto;}}
#contact p{font-size:1.2em;margin:0;}




/* LATEST WORK PAGE */
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");
.wrapper.blogstyle {background: #F2F3F4; margin:10em auto 1em auto;}
@media (max-height: 1280px) and (max-width: 980px) {.wrapper.blogstyle{margin:auto;}}
.wrapper.blogstyle li,.wrapper.blogstyle p{padding: 0em;}
.wrapper.blogstyle a{text-decoration:none;padding: 0em;}
#blog h5{
	margin:1em auto;
	max-width:90%;
	color:#131516;
	font-weight:400;
	font-size:1.2em;
}
#blog p{
	color:#373D3F;
	font-weight:300;
	}
#blog p{
	margin:0 auto 1em auto;
	max-width:90%;
	font-size:1em;
}
#blog a{text-decoration:underline;color:#107896;cursor:pointer;}
#blog a span{position:absolute;font-size:3em;margin-left:-2.5%;}
#blog .blogicon{float:right;}
/* PDFS */
#blog .paperpost {
	margin:4em auto;
	width: 50%;
	background: #FFF;
	border: 1px solid #333A56;
	-moz-box-shadow: 0px 0px 4px #444;
	-webkit-box-shadow: 0px 0px 4px #444;}
@media (max-height: 1280px) and (max-width: 980px) {#blog .paperpost{width:auto;margin:3em auto;}}
#blog .paperpost .paper {text-align:center;margin:0;}
#blog .paperpost .paper {position: relative;overflow: hidden;height:0;}
#blog .paperpost .paper-16x9{padding-bottom: 56.25%;}
#blog .paperpost .paper-4x3{padding-bottom: 75%;}
#blog .paperpost .paper-full{padding-bottom: 125%;}
#blog .paperpost .paper iframe {position: absolute;top:0;left: 0;width: 100%;height: 100%;}
/* CODE */
.snip {
	width:50%; margin:4em auto 2em auto;
	border: 1px solid #333A56;
	-moz-box-shadow: 0px 0px 4px #444;
	-webkit-box-shadow: 0px 0px 4px #444;
	overflow:hidden;
	background-color:#FFF;
}
@media (max-height: 1280px) and (max-width: 980px) {#blog .snip{width:auto;margin:3em auto;}}
.snip div {
   padding:0;}
	#sniptitle {
	  margin:0;
	}
	#snipdescrip {
	  overflow:hidden;
	  margin:0;}
	#snipcode { 
	  overflow:hidden;
	  margin:0 auto 1em auto;
		font-size:1em;
		line-height:1.2em;
		font-family: 'Inconsolata',monospace ;
		max-width:90%;
	}
@media (max-height: 1280px) and (max-width: 980px) {#sniptitle {float: none;width:auto;}}






/* ABOUT ME PAGE */
.wrapper.aboutstyle {background: #F2F3F4; margin:10em 5% 1em 5%;max-width:90%;}
@media (max-height: 1280px) and (max-width: 980px) {.wrapper.aboutstyle{margin:auto;}}
.wrapper.aboutstyle li,.wrapper.aboutstyle p{padding: 0em;margin:0 auto;}
.wrapper.aboutstyle h5{
	margin:0 auto 1em auto;
	color:#131516;
	font-weight:400;
	font-size:1.2em;
}
.wrapper.aboutstyle  p{
	color:#373D3F;
	font-weight:300;
	margin:0 auto 1em auto;
	font-size:1em;
}
#history{
	float:right;
	width:45%;
	padding: 2em;
	margin-right:2.5%;
	background: #E8E8E8;
	border: 1px solid #333A56;
	-moz-box-shadow: 0px 0px 4px #444;
	-webkit-box-shadow: 0px 0px 4px #444;
}
#history a{text-decoration:underline;color:#107896;}
@media (max-height: 1280px) and (max-width: 980px) {#history {float:none;margin:1em auto;width:auto;height:auto;}}
#objective {
	float:left;
	margin-left:2.5%;
	width: 47.5%;
	padding: 2em;
	background: #E8E8E8;
	border: 1px solid #333A56;
	-moz-box-shadow: 0px 0px 4px #444;
	-webkit-box-shadow: 0px 0px 4px #444;
}
@media (max-height: 1280px) and (max-width: 980px) {#objective {float:none;margin:1em auto;width:auto;height:auto;}}
#professional{
	float:left;
	margin: 2em auto 0em 2.5%;
	width:47.5%;
	padding:2em;
	background:#E8E8E8;
	border: 1px solid #333A56;
	-moz-box-shadow: 0px 0px 4px #444;
	-webkit-box-shadow: 0px 0px 4px #444;
}
@media (max-height: 1280px) and (max-width: 980px) {#professional {float:none;margin:1em auto;width:auto;height:auto;}}
#professional a{text-decoration:none;color:#373D3F;}
#professional a:hover{text-decoration:underline;}

#education {margin: 0 2.5%;}
#education li{text-align: left;}
@media (max-height: 1280px) and (max-width: 980px) {#education {float:none;margin:1em auto;width:auto;height:auto;}}
#education .educationbin{
		display: inline-block;
		margin: 1em auto 0 auto;
		padding:2em;
		border: 1px solid #333A56;
		-moz-box-shadow: 0px 0px 4px #444;
		-webkit-box-shadow: 0px 0px 4px #444;
		background: #E8E8E8}
@media only screen and (max-width: 980px){ #education .educationbin{ display:block; width:auto;margin: 1em auto;}}
@media only screen and (max-width: 980px){ #education .educationbin div{ float:none;}}
.educationbin div {position:relative;float:left;text-align:left;vertical-align:top;}
.educationbin div li{line-height: 1.6em;}
.educationbin div li a:hover{text-decoration: underline;color:  #373D3F;}
#educationsection {display:inline-block; overflow:hidden; margin: 0 0 1em 0;padding:0; width:33.3%;}
@media only screen and (max-width: 980px){ #educationsection{width:auto; }}
#educationwrap {float: left;position: relative;left: 50%;}
#educationitem {float: left;position: relative;left: -50%;}
@media only screen and (max-width: 980px){#educationitem p,#educationitem h5{max-width:100%;}}
#educationitem h5{margin:0 auto;}
#teaching{
	float:left;
	width:47.5%;
	margin:2em auto 0 2.5%;
	padding:2em;
	background:#E8E8E8;
	border: 1px solid #333A56;
	-moz-box-shadow: 0px 0px 4px #444;
	-webkit-box-shadow: 0px 0px 4px #444;
}
@media (max-height: 1280px) and (max-width: 980px) {#teaching {float:none;margin:1em auto;width:auto;height:auto;}}
#research{
	float:right;
	width:45%;
	padding: 2em;
	margin:2em 2.5% 0 auto;
	background:#E8E8E8;
	border: 1px solid #333A56;
	-moz-box-shadow: 0px 0px 4px #444;
	-webkit-box-shadow: 0px 0px 4px #444;
}
@media (max-height: 1280px) and (max-width: 980px) {#research {float:none; margin:1em auto;width:auto;height:auto;}}
#work {margin: 0 2.5%;}
#work li{text-align: left;}
@media (max-height: 1280px) and (max-width: 980px) {#work {float:none; margin:1em auto;width:auto;height:auto;}}
#work .workbin{
		display: inline-block;
		margin: 1em auto 0 auto;
		padding: 2em;
		border: 1px solid #333A56;
		-moz-box-shadow: 0px 0px 4px #444;
		-webkit-box-shadow: 0px 0px 4px #444;
		background: #E8E8E8}
@media only screen and (max-width: 980px){ #work .workbin{ display:block; width:auto;}}
@media only screen and (max-width: 980px){ #work .workbin div{ float:none;}}
.workbin div {position:relative;float:left;text-align:left;vertical-align:top;}
.workbin div li{line-height: 1.6em;}
.workbin div li a:hover{text-decoration: underline;color:  #373D3F;}
#worksection {display:inline-block;overflow:hidden;padding:0;margin: 0 0 1em 0;width:50%;}
@media only screen and (max-width: 980px){ #worksection{ width:auto; }}
#workwrap {float: left;position: relative;left: 50%;}
#workitem {float: left;position: relative;left: -50%;}
#workitem h5{margin:0 auto;}
#skills{
	float:left;
	width:45%;
	margin:2em auto 1em 2.5%;
	padding:2em;
	background:#E8E8E8;
	border: 1px solid #333A56;
	-moz-box-shadow: 0px 0px 4px #444;
	-webkit-box-shadow: 0px 0px 4px #444;
}
@media (max-height: 1280px) and (max-width: 980px) {#skills {float:none;margin:1em auto;width:auto;height:auto;}}
#skills a{text-decoration:none;color:#373D3F;}
#skills a:hover{text-decoration:underline;}
#interests{
	float:right;
	width:47.5%;
	margin:2em 2.5% 1em auto;
	padding:2em;
	background:#E8E8E8;
	border: 1px solid #333A56;
	-moz-box-shadow: 0px 0px 4px #444;
	-webkit-box-shadow: 0px 0px 4px #444;
}
@media (max-height: 1280px) and (max-width: 980px) {#interests {float:none;margin:1em auto;width:auto;height:auto;}}
#interests a{text-decoration:none;color:#373D3F;}
#interests a:hover{text-decoration:underline;}
