/*Theme Colors
Header Black: #131516  Text Main Black: #373D3F  Light White: #F2F3F4  White:#F7F5E6  Offwhite: #E8E8E8  Darkest White: #D6D6D6
Light Blue: #107896  Dark Blue:  #333A56 Light Purple: #813772 Dark Purple: #49274A Golden: #EFD469 */
/*  SUBPAGE SPECIFIC */
.subpage #logo{display: none;}.subpage #nav{position: static;right: none;text-align: center;}
.subpage #nav ul li:first-child{padding: 0em 1em 0 0em; margin:9px 0 0px -.9em;}
.subpage #nav ul li:not(:first-child){margin:8.5px 0 0 0;}
.subpage #nav .thispage {color:#EFD469;}
/* LATEST WORK PAGE */
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");
.wrapper.blogstyle {background: #F2F3F4; margin:10em auto 1em auto;}
@media screen and (max-width: 750px) {.wrapper.blogstyle{margin:auto;}}
.wrapper.blogstyle li,.wrapper.blogstyle p{padding: 0em;}
.wrapper.blogstyle a{text-decoration:none;padding: 0em;}
#blog h5{
	margin:1em auto;
	max-width:90%;
	color:#131516;
	font-weight:400;
	font-size:1.2em;
}
#blog p{
	color:#373D3F;
	font-weight:300;
	}
#blog p{
	margin:0 auto 1em auto;
	max-width:90%;
	font-size:1em;
}
#blog a{text-decoration:underline;color:#107896;cursor:pointer;}
#blog a span{position:absolute;font-size:3em;margin-left:-2.5%;}
#blog .blogicon{float:right;}

/* PDFS */
#blog .paperpost {
	margin:4em auto;
	width: 50%;
	background: #FFF;
	border: 1px solid #333A56;
	-moz-box-shadow: 0px 0px 4px #444;
	-webkit-box-shadow: 0px 0px 4px #444;}
@media screen and (max-width: 750px) {#blog .paperpost{width:auto;margin:3em auto;}}
#blog .paperpost .paper {text-align:center;margin:0;}
#blog .paperpost .paper {position: relative;overflow: hidden;height:0;}
#blog .paperpost .paper-16x9{padding-bottom: 56.25%;}
#blog .paperpost .paper-4x3{padding-bottom: 75%;}
#blog .paperpost .paper-full{padding-bottom: 125%;}
#blog .paperpost .paper iframe {position: absolute;top:0;left: 0;width: 100%;height: 100%;}
/* CODE */
.snip {
	width:50%; margin:4em auto 2em auto;
	border: 1px solid #333A56;
	-moz-box-shadow: 0px 0px 4px #444;
	-webkit-box-shadow: 0px 0px 4px #444;
	overflow:hidden;
	background-color:#FFF;
}
@media screen and (max-width: 750px) {#blog .snip{width:auto;margin:3em auto;}}
.snip div {
   padding:0;}
	#sniptitle {
	  margin:0;
	}
	#snipdescrip {
	  overflow:hidden;
	  margin:0;}
	#snipcode { 
	  overflow:hidden;
	  margin:0 auto 1em auto;
		font-size:1em;
		line-height:1.2em;
		font-family: 'Inconsolata',monospace ;
		max-width:90%;
	}
@media screen and (max-width: 650px) {#sniptitle {float: none;width:auto;}}




/* CONTACT PAGE */
.wrapper.contactstyle {background: #F2F3F4; margin:10em auto 1em auto;}
@media screen and (max-width: 750px) {.wrapper.blogstyle{margin:auto;}}
.wrapper.contactstyle li,.wrapper.blogstyle p{padding: 0em;}
.wrapper.contactstyle a{text-decoration:none;padding: 0em;}
.wrapper.contactstyle .image {position: relative;width: 100%;border-radius: 15%;}
.wrapper.contactstyle h2 {position: absolute; 
   top: 10px; 
   left: 275px; 
   width: 100%;
   font-size:1.8em;
}
#tohelp{float:left;margin-left:2.5%;}
#tohelp img{
	width:495px;
	height:431px;}
@media screen and (max-width: 650px) {#tohelp{float: none;width:auto;}}
@media screen and (max-width: 650px) {#tohelp img{width:auto;height:auto;}}

#contact {
	float:right; margin-right:2.5%;
	width: 50%;height:431px; padding: 0px;
	background: #E8E8E8;
	border: 1px solid #333A56;
	-moz-box-shadow: 0px 0px 4px #444;
	-webkit-box-shadow: 0px 0px 4px #444;
}
@media screen and (max-width: 750px) {#contact {float:none;margin:0 auto;width:auto;height:auto;}}

label {
	float: left; clear: left; margin: 11px 20px 0 0; width: 95px;
	text-align: right; font-size: 16px; color: #373D3F; 
	text-shadow: 0px 1px 0px #F2F3F4;
}
input {
	width: 260px; height: 35px; padding: 5px 20px 0px 20px; margin: 0 0 20px 0; 
	background: #D6D6D6;
	background: -moz-linear-gradient(top, #546A7F 0%, #5E768D 20%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#546A7F), color-stop(20%,#5E768D)); /* webkit */
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	-moz-box-shadow: 0px 1px 0px #F2F3F4;-webkit-box-shadow: 0px 1px 0px #F2F3F4;
	font-family: sans-serif; font-size: 16px; color: #F2F3F4; text-transform: uppercase; text-shadow: 0px -1px 0px #F2F3F4; 
}
	input::-webkit-input-placeholder  {
    	color: #a1b2c3; text-shadow: 0px -1px 0px #38506b;  
	}
	input:-moz-placeholder {
	    color: #a1b2c3; text-shadow: 0px -1px 0px #38506b; 
	}

textarea {
	width: 40%; height: 170px; padding: 12px 20px 0px 20px; margin: 0 0 20px 0; 
	background: #5E768D;
	background: -moz-linear-gradient(top, #546A7F 0%, #5E768D 20%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#546A7F), color-stop(20%,#5E768D)); /* webkit */
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	-moz-box-shadow: 0px 1px 0px #f2f2f2;-webkit-box-shadow: 0px 1px 0px #f2f2f2;
	color: #f2f2f2; text-shadow: 0px -1px 0px #334f71; 
}
	textarea::-webkit-input-placeholder  {
    	color: #a1b2c3; text-shadow: 0px -1px 0px #38506b;  
	}
	textarea:-moz-placeholder {
	    color: #a1b2c3; text-shadow: 0px -1px 0px #38506b; 
	}
input:focus, textarea:focus {
	background: #728eaa;
	background: -moz-linear-gradient(top, #668099 0%, #728eaa 20%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#668099), color-stop(20%,#728eaa)); /* webkit */
}
input[type=submit] {
	width: 185px; height: 52px; float: right; padding: 10px 15px; margin: 0 15px 0 0;
	-moz-box-shadow: 0px 0px 5px #999;-webkit-box-shadow: 0px 0px 5px #999;
	border: 1px solid #556f8c;
	background: -moz-linear-gradient (top, #FFF 0%, #FFF 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#718DA9), color-stop(100%,#415D79)); /* webkit */
	cursor: pointer;
}




/* ABOUT ME PAGE */
