.subpage #logo {
	display: none;
	}
.subpage #nav {
	position: static;
	right: none;
	text-align: center;
	}
.subpage #nav ul li:first-child { 
	padding: 0em 1em 0em 0em;
	margin:2em 0 0 -1.4em;
}
.wrapper.blogstyle {
	background: #FFEBD0;
	}

.wrapper.blogstyle h2{
			text-align:center;
		}
.wrapper.blogstyle li,p,a{
	padding: 0em;
	}
.wrapper.blogstyle a{
	text-decoration:none;
	}

blog > :last-child {margin-bottom: 0;}
blog.major {margin: 3em 0 0 0;}

#blog {
	text-align:left;
} 

#blog h5 {
	color:black;
}

#blog p {
	color:blue;
}

#blog .blogpost {
	text-align:center;
}

