/*
label {
	float: left; clear: left; margin: 10px 20px 0 0; width: 95px;
	text-align: right; font-size: 16px; color: #373D3F; 
	text-shadow: 0px 1px 0px #F2F3F4;
}
input {
	width: 260px; height: 35px; padding: 5px 20px 0px 20px; margin: 0 0 20px 0; 
	background: #131516;
	background: -moz-linear-gradient(top, #546A7F 0%, #5E768D 20%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#546A7F), color-stop(20%,#5E768D));
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	-moz-box-shadow: 0px 1px 0px #F2F3F4;-webkit-box-shadow: 0px 1px 0px #F2F3F4;
	font-family: sans-serif; font-size: 16px; color: #F2F3F4; text-shadow: 0px -1px 0px #F2F3F4; 
}
	input::-webkit-input-placeholder  {
    	color: #a1b2c3; text-shadow: 0px -1px 0px #38506b;  
	}
	input:-moz-placeholder {
	    color: #a1b2c3; text-shadow: 0px -1px 0px #38506b; 
	}

textarea {
	width: 80%; height: 80%; padding: 15px 20px 0px 20px; margin: 0 0 20px 0; 
	background: #FFF;
	background: -moz-linear-gradient(top, #FFF 0%, #FFF 20%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF), color-stop(20%,#FFF));
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	-moz-box-shadow: 0px 1px 0px #FFF;-webkit-box-shadow: 0px 1px 0px #FFF;
	color: #FFF; text-shadow: 0px -1px 0px #FFF; 
}
	textarea::-webkit-input-placeholder  {
    	color: #a1b2c3; text-shadow: 0px -1px 0px #38506b;  
	}
	textarea:-moz-placeholder {
	    color: #a1b2c3; text-shadow: 0px -1px 0px #38506b; 
	}
input:focus, textarea:focus {
	outline:none;
	background: #FFF;
	background: -moz-linear-gradient(top, #668099 0%, #728eaa 20%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#668099), color-stop(20%,#728eaa));
}
input[type=submit] {
	width: 185px; height: 52px; float: right; padding: 10px 15px; margin: 0 15px 0 0;
	-moz-box-shadow: 0px 0px 5px #999;-webkit-box-shadow: 0px 0px 5px #999;
	border: 1px solid #556f8c;
	background: -moz-linear-gradient (top, #FFF 0%, #FFF 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#718DA9), color-stop(100%,#415D79));
	cursor: pointer;
} */



/* Contact Form Styles 
h1 {
   margin: 10px 0 0 0;
}
h4{
   margin: 0 0 20px 0;
}
#contact-form {
   background-color:#E8E8E8;
  border: 1px solid #333A56;
		-moz-box-shadow: 0px 0px 4px #444;
		-webkit-box-shadow: 0px 0px 4px #444;
   padding: 10px 20px 30px 20px;
   max-width:100%;
float:right; margin-right:2.5%;
		width: 40%;
}
#contact-form input,   
#contact-form select,   
#contact-form textarea,   
#contact-form label { 
   font-size: 15px;  
   margin-bottom: 2px;
   font-family: Arial, san-serif;
} 
#contact-form input,   
#contact-form select,   
#contact-form textarea { 
   width:100%;
   background: #fff;
   border: 0; 
   -moz-border-radius: 4px;  
   -webkit-border-radius: 4px;  
   border-radius: 4px;
   margin-bottom: 25px;  
   padding: 5px;  
}  
#contact-form input:focus,   
#contact-form select:focus,   
#contact-form textarea:focus {  
   background-color: #E5E6E7; 
}  
#contact-form textarea {
   width:100%;
   height: 150px;
}
#contact-form button[type="submit"] {
   cursor:pointer;
   width:100%;
   border:none;
   background:#333A56;
   color:#FFF;
   margin:0 0 5px;
   padding:10px;
   border-radius:5px;
}
#contact-form button[type="submit"]:hover {
   background:#107896;
   -webkit-transition:background 0.3s ease-in-out;
   -moz-transition:background 0.3s ease-in-out;
   transition:background-color 0.3s ease-in-out;
}
#contact-form button[type="submit"]:active {
   box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}
input:required, textarea:required {  
   box-shadow: none;
   -moz-box-shadow: none;  
   -webkit-box-shadow: none;  
   -o-box-shadow: none;  
} 
#contact-form .required {  
   font-weight:bold;  
   color: #373D3f;      
}

@media only screen and (max-width: 580px) {
   #contact-form{
      left: 3%;
      margin-right: 3%;
      width: 88%;
      margin-left: 0;
      padding-left: 3%;
      padding-right: 3%;
   }
} */
