/* Picture Dropdown Button */
.dropbtn {
			float:left;
			position:absolute;
			cursor: pointer;
			display: block;
			background:#49274A url(../images/grad_pic.jpg) no-repeat;
			background-size: 100%;
			width: 155px;
    			height: 175px;
			border:2px solid;
			border-color: #49274A;
			box-shadow:  -2px #000;
			border-radius: 5px;}
@media screen and (max-width: 1000px) {.dropbtn {float:none;}}
.dropdown {
    -moz-appearance: none;
	-webkit-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	background: none;
	background-size: 100%;
	border-radius: 5px;
	width: 155px;
    	height: 175px;
	opacity:1; filter:alpha(opacity=100);
	position: absolute;
	padding: 0.0em 0em 0em 0em;
	margin: 0em;
	display: inline-block;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
	-ms-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;}
@media screen and (max-width: 1000px) { .dropdown{ margin: 0em auto; } }
@media screen and (max-width: 1000px) {.profile .dropdown{text-align:center;}}
.dropdown-content {
	line-height: 1em;
	padding: 0;
	display: none;
	position: absolute; z-index: 1 ;
	float: left;
	background: #E8E8E8;
	background-size: 100%;
	border:1px solid;
	border-color: #49274A;
	box-shadow:  -2px #000;
	border-radius: 5px;
	font-size: 1.2em;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	width:300%;
	height:180px;
	overflow:auto;
}
@media screen and (max-width: 1000px) {.dropdown-content {width:85vw}}
.show {display:block;}
