<!-- Footer -->
<div class="wrapper footer">
<div id="footer">
<!-- Mobile Logo -->
<a href="http://www.keeganskeate.com" title="Keegan Skeate's personal website"><div class="logo mobile-only" style="margin: 6px auto;"></div></a>
<!-- Index -->
<div class="index">
<!-- Logo and Blurb -->
<div class="narrow blurb fullscreen-only">
  <a href="http://www.keeganskeate.com" title="Keegan Skeate" style="display:block;"><div class="logo"></div></a>
  <p>Analyst with interests in economics, computer programming, and design.</p>
  <div class ="social">
    <a class="github" href="https://github.com/keeganskeate">
      <i class="fa fa-github" aria-hidden="true" title="View Github Repositories"></i>
    </a>
    <a href="https://keeganskeate.disqus.com">
      <div class="disqus-icon" title="Join the Disqus discussions"></div>
    </a>
    <!--<a href="#"><i class="fa fa-google-plus" aria-hidden="true" title="Find Keegan on Google Plus"></i></a>-->
  </div>
</div>
<!-- Column 1 -->
<div>
  <h3>Column 1</h3>
  <ul>
    <li><a href="#" title="">1</a></li>
    <li><a href="#" title="">2</a></li>
    <li><a href="#" title="">3</a></li>
    <li><a href="#" title="">4</a></li>
    <li><a href="#" title="">5</a></li>
  </ul>
</div>
<!-- Column 2 -->
<div>
  <h3>Column 2</h3>
  <ul>
    <li><a href="#" title="">1</a></li>
    <li><a href="#" title="">2</a></li>
    <li><a href="#" title="">3</a></li>
    <li><a href="#" title="">4</a></li>
    <li><a href="#" title="">5</a></li>
  </ul>
</div>
<!-- Column 3 -->
<div class="narrow">
  <h3>Column 3</h3>
  <ul>
    <li><a href="#" title="">1</a></li>
    <li><a href="#" title="">2</a></li>
    <li><a href="#" title="">3</a></li>
    <li><a href="#" title="">4</a></li>
    <li><a href="#" title="">5</a></li>
  </ul>
</div>
<!-- End of Index -->
</div>
<!-- Mobile Blurb -->
<div class="blurb mobile-only bordered">
  <p>Analyst with interests in economics, computer programming, and design.</p>
  <div class ="social">
    <a class="github" href="https://github.com/keeganskeate">
      <i class="fa fa-github" aria-hidden="true" title="Find Keegan on Github"></i>
    </a>
    <a href="https://keeganskeate.disqus.com">
      <div class="disqus-icon" title="Join the Disqus discussions"></div>
    </a>
    <!--<a href="#"><i class="fa fa-google-plus" aria-hidden="true" title="Find Keegan on Google Plus"></i></a>-->
  </div>
</div>
<!-- Disclaimer -->
<div class="disclaimer bordered">
  <p>Notes...</p>
</div>
<!-- Copyright -->
<div class="copyright">
  <ul class="left">
    <li><a href="#" title="Copyright 2018"><i class="fa fa-copyright"></i> 2018 Keegan Skeate</a></li>
    <span class="separator">-</span>
    <li><a href="#" title="">1</a></li>
    <span class="separator">-</span>
    <li><a href="#" title="">2</a></li>
    <span class="#">-</span>
    <li><a href="#" title="">3</a></li>
  </ul>
  <a href="http://www.keeganskeate.com" title="Home"><div class="home-icon"></div></a>
  <ul class="right">
    <li><a href="#" title="">1</a></li>
    <span class="separator">-</span>
    <li><a href="#" title="">2</a></li>
    <span class="separator">-</span>
    <li><a href="#" title="">3</a></li>
    <span class="separator">-</span>
    <li><a href="#" title="">4</a></li>
  </ul>
</div>
<!-- End of Footer -->
</div>
</div>

<!-- OldFooter
<div class="wrapper end-style">
  <div id="footer">
    <section class="container">
      <div class="contactbin">
        <div id="contactsection">
          <h1>Contact Information</h1>
          <div id="contactwrap">
            <div id="contactitem">
              <li>
                <a href="tel:+1-828-406-0839"><span class="fa fa-phone-square"></span> Call (828) 406&ndash;0839</a>
              </li>
              <li>
                <a href="mailto:keeganskeate@gmail.com?Subject=Dear%20Keegan,"target="_top">
                  <span class="fa fa-envelope-square"></span> Email keeganskeate@gmail.com</a>
              </li>
              <li>
                <a name="Mail"></a><span aria-hidden="true" data-icon="&#xe958;"></span> Adddress:
                  <p style="text-align:center; line-height:1.4em;">303 17th Ave SE #4<br>Olympia, WA 98501</p>
              </li>
            </div>
          </div>
        </div>
        <div id="contactsection">
          <h1>Find Me Online</h1>
          <div id="contactwrap">
            <div id="contactitem">
              <li>
                <a href="http://www.keeganskeate.com/"><span class="fa fa-home"></span> Homepage</a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/keegan-skeate-2181b1bb" target="_blank">
                  <span class="fa fa-linkedin"></span> LinkedIn</a>
              </li>
              <li>
                <a href="https://github.com/keeganskeate" target="_blank">
                  <span class="fa fa-github"></span> GitHub</a>
              </li>
              <li>
                <a href="http://stackoverflow.com/users/5021266/keegan-skeate" target="_blank">
                  <span class="fa fa-stack-overflow"></span> StackOverflow</a>
              </li>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="container">
      <div id="subfooter">
        <p>
          <a href="#" title="Return to the top">Keegan Skeate | www.keeganskeate.com</a><br>
          <a href="mailto:keeganskeate@gmail.com?Subject=Dear%20Keegan," target="_top" title="Ask to use any of my work">
            <span class="fa fa-copyright"></span> 2018. All Rights Reserved.</a>
        </p>
      </div>
    </section>
  </div>
</div>
