<!-- Footer -->
<div class="wrapper end-style">
  <div id="footer">
    <section class="container">
      <div class="contactbin">
        <div id="contactsection">
          <h1>Contact Information</h1>
          <div id="contactwrap">
            <div id="contactitem">
              <li>
                <a href="tel:+1-828-406-0839"><span class="fa fa-phone-square"></span> Call (828) 406&ndash;0839</a>
              </li>
              <li>
                <a href="mailto:keeganskeate@gmail.com?Subject=Dear%20Keegan,"target="_top">
                  <span class="fa fa-envelope-square"></span> Email keeganskeate@gmail.com</a>
              </li>
              <li>
                <a name="Mail"></a><span aria-hidden="true" data-icon="&#xe958;"></span> Adddress:
                  <p style="text-align:center; line-height:1.4em;">303 17th Ave SE #4<br>Olympia, WA 98501</p>
              </li>
            </div>
          </div>
        </div>
        <div id="contactsection">
          <h1>Find Me Online</h1>
          <div id="contactwrap">
            <div id="contactitem">
              <li>
                <a href="http://www.keeganskeate.com/"><span class="fa fa-home"></span> Homepage</a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/keegan-skeate-2181b1bb" target="_blank">
                  <span class="fa fa-linkedin"></span> LinkedIn</a>
              </li>
              <li>
                <a href="https://github.com/keeganskeate" target="_blank">
                  <span class="fa fa-github"></span> GitHub</a>
              </li>
              <li>
                <a href="http://stackoverflow.com/users/5021266/keegan-skeate" target="_blank">
                  <span class="fa fa-stack-overflow"></span> StackOverflow</a>
              </li>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="container">
      <div id="subfooter">
        <p>
          <a href="#" title="Return to the top">Keegan Skeate | www.keeganskeate.com</a><br>
          <a href="mailto:keeganskeate@gmail.com?Subject=Dear%20Keegan," target="_top" title="Ask to use any of my work">
            <span class="fa fa-copyright"></span> 2018. All Rights Reserved.</a>
        </p>
      </div>
    </section>
  </div>
</div>
